body {
	padding: 0;
	margin: 0;
	color: #333333;
	font-size: 16px;
}

.main {
	max-width: 1080px;
	margin: auto;
}

.navigation {
	
}

.navigationBox {
	float: left;
	width: 150px;
	text-align:center;
	padding:10px;
	border:1px #333333 solid;
	font-weight:bold;
}
.act{
	background-color:#b8ff82;
}
.disabled{
  color:#999999;
}
.content {
	
}

.clear {
	clear: both;
}

.appTable {
	border-spacing: 0;
	border-collapse: collapse;
	width:100%;
	display: block;
}

.appTable th {
	font-size: 18px;
	padding:10px;
}

.appTable thead {
	background-color: #eeeeee;
}

.appTable tbody {
	background-color: #eeefff;
}

.appTable td {
	padding:10px;
}
.appTable tbody td:NTH-CHILD(3),.appTable tfoot td {
  text-align:right;
}
.appTable tbody tr:NTH-CHILD(odd) {
  background-color:#fffeee;
}
.appTable tfoot{
	font-weight:bold;
}
.dialog{
	width:100%;
	height:100%;
	position:fixed;
	background-color:rgba(255,255,255,0.6);
	display:none;
	top:0;
  left:0;
}
.dialogWindow{
	width:300px;
	height:200px;
	background-color:#ffffff;
	border:2px #333333 solid;
	border-radius:5px;
	margin:100px auto;
	padding:10px;
}
.input{
	margin-bottom:5px;
	padding:5px;
	border:1px #999 solid;
	background-color:#eeeeee;
	border-radius:3px;
	width:80%;
}
.userInfo{
	float:right;
}
.button{
	background-color:#b8ff82;
	padding:10px;
	margin-right:10px;
	border:1px #333 solid;
	border-radius:3px;
	font-weidht:bold;
}